<ng-template #loading>
    <div class="text-center py-4">
        <div class="spinner-border"></div>
    </div>
</ng-template>

<ng-container *ngIf="!isLoading; else loading">
    <div class="modal-header">

        <h4 class="modal-title" id="modal-title">
            {{ dialogMode }} legame task-risorsa
        </h4>

        <button
            type="button"
            class="btn-close" 
            (click)="activeModal.dismiss('Cross click')"
        ></button>
        </div>

        <div class="modal-body" style="min-height: 40vh">

            <form [formGroup]="form">

                <div class="flexgrid">

                    <!-- This is just a dummy raw input to show the user when updating -->
                    <ng-container *ngIf="this.dialogMode === DIALOG_MODE.Update">
                        <div *ngIf="utentiCtrl.value && utentiCtrl.value[0] as u">
                            <div class="form-floating">
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="..."
                                    [value]="u.cognome + ' ' + u.nome"
                                    [disabled]="this.dialogMode === DIALOG_MODE.Update"
                                >
                                <label>Utente</label>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="this.dialogMode === DIALOG_MODE.Create">
                        <app-input
                            type="tagger"
                            name="utenti"
                            placeholder="Aggiungi utenti *"
                            [options]="utenti"
                            helper="I risultati saranno deduplicati automaticamente"
                            [limit]="25"
                            [formatter]="utenteFormatter"
                            [filter]="utenteFilter"
                            [template]="uTmpl"
                            [ngControl]="utentiCtrl"
                        ></app-input>
                        <ng-template #uTmpl let-r="result" let-t="term">
                            <div class="my-1">
                                <div class="small">{{ r.idUtente }}</div>
                                <ngb-highlight [result]="r.cognome + ' '  + r.nome" [term]="t"></ngb-highlight>
                            </div>
                        </ng-template>
                    </ng-container>
                </div>

                <div class="flexgrid flexgrid--2">

                    <app-input
                        type="date"
                        name="dataInizio"
                        label="Data inizio *"
                        [min]="dataInizioCtrlMin()"
                        [max]="dataInizioCtrlMax()"
                        [ngControl]="dataInizioCtrl"
                        [floatingLabel]="true"
                    ></app-input>

                    <app-input
                        type="date"
                        name="dataFine"
                        label="Data fine *"
                        [min]="dataFineCtrlMin()"
                        [max]="dataFineCtrlMax()"
                        [ngControl]="dataFineCtrl"
                        [floatingLabel]="true"
                    ></app-input>
                </div>
            </form>
        </div>

        <div class="modal-footer">

            <button
                type="button"
                class="btn btn-outline-secondary ms-auto"
                (click)="activeModal.dismiss('Cancel')"
            >
                Cancella
            </button>

            <button
                type="button"
                class="btn btn-primary"
                [disabled]="form.invalid || (!utentiCtrl.value || utentiCtrl.value.length === 0)"
                (click)="save()"
            >
                Salva
            </button>
        </div>
</ng-container>