<div class="d-grid gap-5 px-3 py-4">

    <section>

        <h4>Built-in validation</h4>

        <app-input
            name="text"
            label="Text input with validation"
            helper="Type to see validation in action"
            [ngControl]="textValidation"
            [floatingLabel]="true"
        ></app-input>
    </section>

    <section>

        <h4>Custom errors with default errors</h4>

        <div class="flexgrid flexgrid--2">
    
            <app-input
                name="onlyNumbers"
                label="Only numbers"
                helper="This input only allows for numbers"
                [ngControl]="onlyNumbers"
                [floatingLabel]="true"
            >
                <ng-container customErrors>
                    <div *ngIf="onlyNumbers.errors?.onlyNumbers">
                        {{ onlyNumbers.errors?.onlyNumbers }}
                    </div>
                </ng-container>
            </app-input>
    
            <app-input
                name="notHelloWorld"
                label="Not hello world"
                helper='This input does not allow "hello world"'
                [ngControl]="notHelloWorld"
                [floatingLabel]="true"
            >
                <ng-container customErrors>
                    <div *ngIf="notHelloWorld.errors?.notHelloWorld">
                        {{ notHelloWorld.errors?.notHelloWorld }}
                    </div>
                </ng-container>
            </app-input>
        </div>
    </section>

    <section>

        <h4>Remove built-in errrors (only custom errors)</h4>

        <div class="flexgrid flexgrid--2">
    
            <app-input
                name="customMinLength"
                label="Custom min length"
                helper='Try something shorter than 4 chars then try "joe"'
                [onlyCustomErrors]="true"
                [ngControl]="customMinLength"
                [floatingLabel]="true"
            >
                <ng-container customErrors>

                    <div *ngIf="customMinLength.errors?.required">
                        This input value is required!!!
                    </div>

                    <div *ngIf="customMinLength.errors?.minLength">
                        {{ customMinLength.errors?.minLength }}
                    </div>
                </ng-container>
            </app-input>
    
            <app-input
                name="customMaxLength"
                label="Custom max length"
                helper='Try something longer than 6 chars then try "abracadabra"'
                [onlyCustomErrors]="true"
                [ngControl]="customMaxLength"
                [floatingLabel]="true"
            >
                <ng-container customErrors>

                    <div *ngIf="customMaxLength.errors?.required">
                        This input value is required!!!
                    </div>

                    <div *ngIf="customMaxLength.errors?.maxLength">
                        {{ customMaxLength.errors?.maxLength }}
                    </div>
                </ng-container>
            </app-input>
        </div>
    </section>
</div>