<div class="commessa-resume col-md-9 mx-auto mt-3 mb-5">

    <div class="flexgrid flexgrid--4">

        <div>
            <div>Cliente diretto</div>
            <div class="fw-bold">
                {{ clienteDiretto?.descrizione }}
            </div>
        </div>

        <div>
            <div>Cliente finale</div>
            <div class="fw-bold">
                {{ clienteFinale?.descrizione }}
            </div>
        </div>

        <div>
            <div>Tipo attivita</div>
            <div class="fw-bold">{{ commessa?.tipoAttivita?.id === 1 ? 'Opportunità' : 'Commessa interna' }}</div>
        </div>

        <div>
            <div>Data inserimento</div>
            <div class="fw-bold">{{ commessa?.dataInserimento | date:'yyyy-MM-dd' }}</div>
        </div>

        <div>
            <div>Codice commessa</div>
            <div class="fw-bold">{{ commessa?.codiceCommessa }}</div>
        </div>

        <div>
            <div>Descrizione</div>
            <div class="fw-bold">{{ commessa?.descrizione }}</div>
        </div>

        <div>
            <div>Project manager</div>
            <div class="fw-bold">{{ pm?.cognome + ' ' + pm?.nome }}</div>
        </div>

        <div>
            <div>Business manager</div>
            <div class="fw-bold">{{ bm?.cognome + ' ' + bm?.nome }}</div>
        </div>
    </div>

    <button
        type="button"
        class="btn btn-warning btn-lg shadow"
        (click)="update()"
    >
        <i class="bi bi-pencil"></i>
    </button>
</div>

<ul
    class="attivita-nav mb-5"
    ngbNav
    #nav="ngbNav"
    [destroyOnHide]="false"
    [(activeId)]="activeTabId"
>
	<li [ngbNavItem]="1" class="attivita-nav__item" [disabled]="commessa?.tipoAttivita?.id == 2">
        <a ngbNavLink>
            <i class="bi bi-1-square-fill"></i>
            Opportunità
        </a>
		<ng-template ngbNavContent>
			<app-opportunita [idCommessaPadre]="idCommessaPadre"></app-opportunita>
		</ng-template>
	</li>
	<li [ngbNavItem]="2" class="attivita-nav__item" [disabled]="commessa?.tipoAttivita?.id == 2">
        <a ngbNavLink>
            <i class="bi bi-2-square-fill"></i>
            Offerta
        </a>
		<ng-template ngbNavContent>
			<app-offerta [idCommessaPadre]="idCommessaPadre" (offertaUpsert)="onOffertaUpsert($event)"></app-offerta>
		</ng-template>
	</li>
	<li [ngbNavItem]="3" class="attivita-nav__item" [disabled]="this.commessa?.tipoAttivita?.id == 1 && !this.offerta?.dataAccettazione">
        <a ngbNavLink>
            <i class="bi bi-3-square-fill"></i>
            Sottocommesse
        </a>
		<ng-template ngbNavContent>
			<app-sottocommesse></app-sottocommesse>
		</ng-template>
	</li>
	<li [ngbNavItem]="4" class="attivita-nav__item" [disabled]="!hasSottocommesse">
        <a ngbNavLink>
            <i class="bi bi-4-square-fill"></i>
            Costi
        </a>
		<ng-template ngbNavContent>
			<app-costi></app-costi>
		</ng-template>
	</li>
    <li [ngbNavItem]="5" class="attivita-nav__item" [disabled]="!hasSottocommesse">
        <a ngbNavLink>
            <i class="bi bi-5-square-fill"></i>
            Ricavi
        </a>
		<ng-template ngbNavContent>
			<app-ricavi></app-ricavi>
		</ng-template>
	</li>
    <li [ngbNavItem]="6" class="attivita-nav__item">
        <a ngbNavLink>
            <i class="bi bi-6-square-fill"></i>
            Ordini
        </a>
		<ng-template ngbNavContent>
			<app-ordini></app-ordini>
		</ng-template>
	</li>
    <li [ngbNavItem]="7" class="attivita-nav__item">
        <a ngbNavLink>
            <i class="bi bi-7-square-fill"></i>
            Fatture
        </a>
		<ng-template ngbNavContent>
			<app-fatture></app-fatture>
		</ng-template>
	</li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
