<div class="col-md-9 p-3 mt-3 mb-5 mx-auto">

    <h5 class="mb-3">Dettaglio commessa</h5>

    <div class="ag-parent-resume app-callout app-callout--blue">
    
        <div class="flexgrid flexgrid--4">
    
            <div>
                <div class="small text-muted">Cliente diretto</div>
                <div>
                    {{ clienteDiretto?.descrizione }}
                </div>
            </div>
    
            <div>
                <div class="small text-muted">Cliente finale</div>
                <div>
                    {{ clienteFinale?.descrizione }}
                </div>
            </div>
    
            <div>
                <div class="small text-muted">Tipo attivita</div>
                <div>{{ commessa?.tipoAttivita?.id === 1 ? 'Opportunità' : 'Commessa interna' }}</div>
            </div>
    
            <div>
                <div class="small text-muted">Data inserimento</div>
                <div>{{ commessa?.dataInserimento | date:'yyyy-MM-dd' }}</div>
            </div>
    
            <div>
                <div class="small text-muted">Codice commessa</div>
                <div>{{ commessa?.codiceCommessa }}</div>
            </div>
    
            <div>
                <div class="small text-muted">Descrizione</div>
                <div>{{ commessa?.descrizione }}</div>
            </div>
    
            <div>
                <div class="small text-muted">Project manager</div>
                <div>{{ pm?.cognome + ' ' + pm?.nome }}</div>
            </div>
    
            <div>
                <div class="small text-muted">Business manager</div>
                <div>{{ bm?.cognome + ' ' + bm?.nome }}</div>
            </div>
        </div>
    
        <button
            type="button"
            class="btn btn-warning btn-lg shadow"
            (click)="update()"
        >
            <i class="bi bi-pencil"></i>
        </button>
    </div>
</div>

<ul
    class="attivita-nav mb-5"
    ngbNav
    #nav="ngbNav"
    [destroyOnHide]="false"
    [(activeId)]="activeTabId"
>

    <li
        [ngbNavItem]="1"
        class="attivita-nav__item"
        [disabled]="commessa?.tipoAttivita?.id == 2"
    >
        <a ngbNavLink>
            <i class="bi bi-1-square-fill"></i>
            Eventi
        </a>
        <ng-template ngbNavContent>
            <app-evento [idCommessa]="idCommessa"></app-evento>
        </ng-template>
    </li>

    <li
        [ngbNavItem]="2"
        class="attivita-nav__item"
        [disabled]="commessa?.tipoAttivita?.id == 2"
    >
        <a ngbNavLink>
            <i class="bi bi-2-square-fill"></i>
            Offerta
        </a>
        <ng-template ngbNavContent>
            <app-offerta
                [idCommessa]="idCommessa"
                (offertaUpsert)="onOffertaUpsert($event)"
            ></app-offerta>
        </ng-template>
    </li>

    <li
        [ngbNavItem]="3" class="attivita-nav__item"
        [disabled]="this.commessa?.tipoAttivita?.id == 1 && !this.offerta?.dataAccettazione"
    >
        <a ngbNavLink>
            <i class="bi bi-3-square-fill"></i>
            Sottocommesse
        </a>
        <ng-template ngbNavContent>
            <app-sottocommesse
                [idCommessa]="idCommessa"
            ></app-sottocommesse>
        </ng-template>
    </li>

    <li
        [ngbNavItem]="4"
        class="attivita-nav__item"
        [disabled]="!hasSottocommesse"
    >
        <a ngbNavLink>
            <i class="bi bi-4-square-fill"></i>
            Costi
        </a>
        <ng-template ngbNavContent>
            <app-forzature
                [idCommessa]="idCommessa"
                categoria="costo"
            ></app-forzature>
        </ng-template>
    </li>

    <li
        [ngbNavItem]="5"
        class="attivita-nav__item"
        [disabled]="!hasSottocommesse"
    >
        <a ngbNavLink>
            <i class="bi bi-5-square-fill"></i>
            Ricavi
        </a>
        <ng-template ngbNavContent>
            <app-forzature
                [idCommessa]="idCommessa"
                categoria="ricavo"
            ></app-forzature>
        </ng-template>
    </li>

    <li [ngbNavItem]="6" class="attivita-nav__item">
        <a ngbNavLink>
            <i class="bi bi-6-square-fill"></i>
            Ordini
        </a>
        <ng-template ngbNavContent>
            <app-ordini [idCommessa]="idCommessa"></app-ordini>
        </ng-template>
    </li>

    <li [ngbNavItem]="7" class="attivita-nav__item">
        <a ngbNavLink>
            <i class="bi bi-7-square-fill"></i>
            Fatture
        </a>
        <ng-template ngbNavContent>
            <app-fatture [idCommessa]="idCommessa"></app-fatture>
        </ng-template>
    </li>

    <li [ngbNavItem]="8" class="attivita-nav__item">
        <a ngbNavLink>
            <i class="bi bi-8-square-fill"></i>
            Straordinario
        </a>
        <ng-template ngbNavContent>
            <app-straordinario [idCommessa]="idCommessa"></app-straordinario>
        </ng-template>
    </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
