<div class="text-center mb-5">
    <h1 class="display-6">Gestione Eventi</h1>
    <p class="lead">Da questo componente puoi creare/modificare gli eventi della commessa.</p>
</div>

<div class="card pt-3 shadow">

    <div class="table-plus">

        <h5 class="table-plus__title">Tabella eventi</h5>

        <button
            type="button"
            class="table-plus__action btn btn-success shadow"
            (click)="create()"
        >
            <i class="bi bi-plus"></i>
            Crea evento
        </button>
    </div>

    <ng-template #emptyTmpl>
        <div style="
            display: grid;
            gap: 0.75rem;
            justify-content: center;
            margin: 0 auto;
            max-width: 300px;
            padding: 3rem 1rem;
            text-align: center;
        ">

            <img class="img-fluid" src="assets/images/not-found.png" alt="nessun risultato trovato">

            <div class="lead">Nessun evento trovato.</div>

            <button
                class="btn btn-outline-success"
                (click)="create()"
            >
                Crea evento
            </button>
        </div>
    </ng-template>
    
    <app-table
        #dt
        [thead]="thead"
        [tbody]="tbody"
        [animated]="true"
        [items]="eventi"
        [searchable]="['descrizione', 'faseEvento.descrizione']"
        [paginated]="true"
        [pageSize]="5"
        [emptyTemplate]="emptyTmpl"
    >
    
        <ng-template #thead>
            <th sortable="dataEvento" (sort)="dt.sort($any($event))">Data</th>
            <th sortable="faseEvento.id" (sort)="dt.sort($any($event))">Tipo evento</th>
            <th sortable="descrizione" (sort)="dt.sort($any($event))">Descrizione</th>
            <th style="width: 10rem"></th>
        </ng-template>
    
        <ng-template #tbody let-item let-term$="term$">
            <td data-label="Data">{{ item.dataEvento | date:'yyyy-MM-dd' }}</td>
            <td data-label="Tipo evento">
                <ngb-highlight [result]="item.faseEvento.descrizione" [term]="$any(term$ | async)"/>
            </td>
            <td data-label="Descrizione">
                <ngb-highlight [result]="item.descrizione" [term]="$any(term$ | async)"/>
            </td>
            <td>
                <div class="d-flex gap-2 justify-content-center">
                    <button
                        type="button"
                        class="btn btn-warning shadow"
                        (click)="update(item)"
                    >
                        <i class="bi bi-pencil"></i>
                    </button>
                </div>
            </td>
        </ng-template>
    </app-table>
</div>

