:host {
    --attivita-nav-background: var(--app-orange_500);
    --attivita-nav-color: var(--app-gray_900);
    --attivita-nav__item-background: var(--app-gray_0);
    --attivita-nav__item-color: var(--app-orange_500);
    --attivita-nav__link-background: var(--app-gray_0);
    --attivita-nav__link-color: var(--app-gray_1000);
}