<div class="col-md-7 p-3 mt-3 mb-5 mx-auto">

    <h5 class="mb-3">Dettaglio task</h5>

    <div class="ag-parent-resume app-callout app-callout--green">

        <div class="flexgrid flexgrid--2">

            <div>
                <div class="small text-muted">Codice task</div>
                <div>{{ task?.codiceTask }}</div>
            </div>

            <div>
                <div class="small text-muted">Descrizione</div>
                <div>{{ task?.descrizione }}</div>
            </div>

            <div>
                <div class="small text-muted">Data inizio</div>
                <div>{{ task?.dataInizio | date:'yyyy-MM-dd' }}</div>
            </div>

            <div>
                <div class="small text-muted">Data fine</div>
                <div>{{ task?.dataFine | date:'yyyy-MM-dd' }}</div>
            </div>
        </div>

        <button
            type="button"
            class="btn btn-warning btn-lg shadow"
            (click)="updateTask()"
        >
            <i class="bi bi-pencil"></i>
        </button>
    </div>
</div>

<div class="card pt-3 shadow">

    <div class="table-plus">

        <h5 class="table-plus__title">Tabella risorse task</h5>

        <button
            type="button"
            class="table-plus__action btn btn-success shadow"
            (click)="create()"
        >
            <i class="bi bi-plus"></i>
            Crea legame
        </button>
    </div>

    <ng-template #emptyTmpl>
        <div style="
            display: grid;
            gap: 0.75rem;
            justify-content: center;
            margin: 0 auto;
            max-width: 300px;
            padding: 3rem 1rem;
            text-align: center;
        ">

            <img class="img-fluid" src="assets/images/no-results.svg" alt="nessun risultato trovato">

            <div class="lead">Nessun legame trovato.</div>

            <button
                class="btn btn-outline-success"
                (click)="create()"
            >
                Crea legame
            </button>
        </div>
    </ng-template>
    
    <app-table
        #dt
        [thead]="thead"
        [tbody]="tbody"
        [items]="risorseTask"
        [searchable]="['utente.cognome', 'utente.nome']"
        [paginated]="true"
        [pageSize]="5"
        [emptyTemplate]="emptyTmpl"
    >
    
        <ng-template #thead>
            <th sortable="utente.cognome" (sort)="dt.sort($any($event))">Cognome</th>
            <th sortable="utente.nome" (sort)="dt.sort($any($event))">Nome</th>
            <th sortable="inizioAllocazione" (sort)="dt.sort($any($event))">Data inizio</th>
            <th sortable="fineAllocazione" (sort)="dt.sort($any($event))">Data fine</th>
            <th style="width: 10rem"></th>
        </ng-template>
    
        <ng-template #tbody let-item let-term$="term$">
            <td>{{ item.utente?.cognome }}</td>
            <td>{{ item.utente?.nome }}</td>
            <td>{{ item.inizioAllocazione | date:'yyyy-MM-dd' }}</td>
            <td>{{ item.fineAllocazione | date:'yyyy-MM-dd' }}</td>
            <td>
                <div class="d-flex gap-2 justify-content-center">

                    <button
                        type="button"
                        class="btn btn-warning shadow"
                        (click)="update(item)"
                    >
                        <i class="bi bi-pencil"></i>
                    </button>

                    <button
                        type="button"
                        class="btn btn-danger shadow"
                        (click)="delete(item)"
                    >
                        <i class="bi bi-trash3"></i>
                    </button>
                </div>
            </td>
        </ng-template>
    </app-table>
</div>