<div class="d-grid gap-4 pt-4">

    <div class="d-grid gap-3">
    
        <div>
            <h6>Five columns layout</h6>

            <div class="flexgrid flexgrid--5">
                <div class="input-placeholder"></div>
                <div class="input-placeholder"></div>
                <div class="input-placeholder"></div>
                <div class="input-placeholder"></div>
                <div class="input-placeholder"></div>
            </div>
        </div>

        <div>
            <h6>Four columns layout</h6>

            <div class="flexgrid flexgrid--4">
                <div class="input-placeholder"></div>
                <div class="input-placeholder"></div>
                <div class="input-placeholder"></div>
                <div class="input-placeholder"></div>
            </div>
        </div>

        <div>
            <h6>Three columns layout</h6>

            <div class="flexgrid flexgrid--3">
                <div class="input-placeholder"></div>
                <div class="input-placeholder"></div>
                <div class="input-placeholder"></div>
            </div>
        </div>

        <div>
            <h6>Two columns layout</h6>

            <div class="flexgrid flexgrid--2">
                <div class="input-placeholder"></div>
                <div class="input-placeholder"></div>
            </div>
        </div>
    </div>
    
    <div>
        <p>Flexgrid column minimum width is set by the CSS variable <code>--flexgrid-col-min-width</code>.</p>
        <p>Flexgrid gap is set by the CSS variable <code>--flexgrid-gap</code>.</p>
    </div>
</div>
