<div class="d-grid gap-5 px-3 py-4">

    <section>

        <h4>Flexgrid fundamentals</h4>

        <p>
            The utility class <code>flexgrid</code> lets you define a flexible grid from 1 to 5 columns, which is sort of ideal for forms.
            <br>
            The CSS variable <code>--flexgrid-col-min-width</code> lets you control the minimum width at which a flexgrid item wraps to the next line.
            <br>
            The CSS variable <code>--flexgrid-gap</code> lets you control the space between flexgrid items.
        </p>

        <div class="d-grid gap-3 resizeable">
            <div *ngFor="let qty of [ 5, 4, 3, 2 ]">

                <h6>{{ qty }}-cols layout</h6>
    
                <div class="flexgrid" [ngClass]="'flexgrid--' + qty">
                    <div class="input-placeholder" *ngFor="let n of Array(qty).fill(0)"></div>
                </div>
            </div>
        </div>
    </section>

    <section>

        <h4>Flexgrid with no-grow</h4>

        <p>
            Apply the class <code>flexgrid--no-grow</code> if you don't want the elements to grow when then first elements has wrapped to the next line.
            <br>
            Tweak the CSS variable <code>--flexgrid-col-min-width</code> to control the minimum width at which a flexgrid item wraps to the next line.
        </p>

        <div class="d-grid gap-3 resizeable">
            <div *ngFor="let qty of [ 5, 4, 3, 2 ]">

                <h6>{{ qty }}-cols layout</h6>
    
                <div class="flexgrid flexgrid--no-grow" [ngClass]="'flexgrid--' + qty">
                    <div class="input-placeholder" *ngFor="let n of Array(qty).fill(0)"></div>
                </div>
            </div>
        </div>
    </section>
</div>
