@keyframes Pulse {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

.pulse {
    animation: Pulse 1000ms ease infinite;
}

.avanzamento-table {
    display: block;
    font-size: 0.9rem;
    margin: 0 -1rem -1rem;
}