<div class="subscription-wrapper">

    <input hidden class="subscription-switch" id="subscription-switch" type="checkbox">

    <div class="subscription-container">

        <div class="login-container">

            <h2>Login</h2>

            <app-input
                type="textarea"
                name="token"
                label="Token"
                [ngControl]="tokenCtrl"
                [floatingLabel]="true"
            ></app-input>

            <app-input
                name="idAzienda"
                label="Id azienda"
                [ngControl]="idAziendaCtrl"
                [floatingLabel]="true"
            ></app-input>

            <button class="btn btn-primary" (click)="login()">Login</button>
        </div>

        <div class="sign-up-container">

            <h2>Fake Login</h2>

            <app-input
                name="idUtente"
                label="Id utente"
                [ngControl]="idUtenteCtrl"
                [floatingLabel]="true"
            ></app-input>

            <app-input
                name="idAzienda2" 
                label="Id azienda"
                [ngControl]="idAzienda2Ctrl"
                [floatingLabel]="true"
            ></app-input>

            <app-input
                type="tagger"
                name="ruoli"
                placeholder="Scegli i ruoli"
                [options]="roles"
                [formatter]="rolesFormatter"
                [filter]="rolesFilter"
                [ngControl]="rolesCtrl"
            ></app-input>
            
            <button class="btn btn-primary" (click)="fakeLogin()">Login</button>
        </div>

    </div>

    <div class="login-btn-wrapper">

        <h3>Have an account?</h3>

        <label class="btn btn-primary" for="subscription-switch">Sign In</label>
    </div>

    <div class="sign-up-btn-wrapper">

        <h3>Don't have it?</h3>

        <label class="btn btn-primary" for="subscription-switch">Sign Up</label>
    </div>

</div>