<div class="sb-brand">
    
        <a routerLink="/home" class="app-brand">
            <img class="pic" src="assets/logos/brand.png">
            <div>Brand</div>
        </a>
        
        <label class="menu-toggle" (click)="sidebarService.toggle()">✕</label>
</div>

<div class="sb-user">
    <img class="pic" src="assets/images/unknown-user.png">
    <div>{{ username$ | async }}</div>
</div>

<div class="sb-links">
    <ng-container *ngFor="let item of sidebarItems">
        <ng-container *ngLet="(authService.user$ | async) as user">
            <ng-container *ngIf="!item.roles || intersection(user.roles, item.roles).length">

                <div
                    *ngIf="item.children"
                    routerLinkActive
                    #rla="routerLinkActive"
                >
                    <div
                        class="sb-link clickable"
                        (click)="item.isActive = !item.isActive"
                    >

                        <i [ngClass]="item.icon" class="pe-3"></i> 

                        <span class="me-auto"><span [innerHTML]="item.title"></span></span>

                        <i *ngIf="!item.isActive" class="bi bi-caret-up-fill"></i>
                        <i *ngIf="item.isActive" class="bi bi-caret-down-fill"></i>
                    </div>

                    <div #collapse="ngbCollapse" [(ngbCollapse)]="!item.isActive" class="sb-sublinks">
                        <ng-container *ngFor="let subitem of item.children">
                            <ng-container *ngIf="!subitem.roles || intersection(user.roles, subitem.roles).length">

                                <!-- Start of "Executable, External Link or Internal Path" -->
                                <ng-container *ngIf="subitem.executable; else childLinks">
                                    <a
                                        href="javascript:void(0)"
                                        class="sb-link text-reset text-decoration-none"
                                        (click)="subitem.executable()"
                                    >
                                        <i *ngIf="subitem.icon" [ngClass]="subitem.icon" class="pe-3 bi"></i> 
                                        <span [innerHTML]="subitem.title"></span>
                                    </a>
                                </ng-container>
                                <ng-template #childLinks>
                                    <ng-container *ngIf="subitem.externalLink; else childPath">
                                        <a
                                            class="sb-link text-reset text-decoration-none"
                                            [href]="subitem.externalLink"
                                        >
                                            <i *ngIf="subitem.icon" [ngClass]="subitem.icon" class="pe-3 bi"></i> 
                                            <span [innerHTML]="subitem.title"></span>
                                        </a>
                                    </ng-container>
                                    <ng-template #childPath>
                                        <a
                                            class="sb-link text-reset text-decoration-none"
                                            routerLinkActive="is-active"
                                            [routerLink]="subitem.path"
                                        >
                                            <i *ngIf="subitem.icon" [ngClass]="subitem.icon" class="pe-3 bi"></i> 
                                            <span [innerHTML]="subitem.title"></span>
                                        </a>
                                    </ng-template>
                                </ng-template>
                                <!-- End of "Executable, External Link or Internal Path" -->

                            </ng-container>
                        </ng-container>
                    </div>
                </div>

                <ng-container *ngIf="!item.children">

                    <!-- Start of "Executable, External Link or Internal Path" -->
                    <ng-container *ngIf="item.executable; else links">
                        <a
                            href="javascript:void(0)"
                            class="sb-link text-reset text-decoration-none"
                            (click)="item.executable()"
                        >
                            <i *ngIf="item.icon" [ngClass]="item.icon" class="pe-3 bi"></i> 
                            <span [innerHTML]="item.title"></span>
                        </a>
                    </ng-container>
                    <ng-template #links>
                        <ng-container *ngIf="item.externalLink; else path">
                            <a
                                class="sb-link text-reset text-decoration-none"
                                [href]="item.externalLink"
                            >
                                <i *ngIf="item.icon" [ngClass]="item.icon" class="pe-3 bi"></i> 
                                <span [innerHTML]="item.title"></span>
                            </a>
                        </ng-container>
                        <ng-template #path>
                            <a
                                class="sb-link text-reset text-decoration-none"
                                #rla="routerLinkActive"
                                routerLinkActive="is-active"
                                [routerLink]="item.path"
                            >
                                <i *ngIf="item.icon" [ngClass]="item.icon" class="pe-3 bi"></i> 
                                <span [innerHTML]="item.title"></span>
                            </a>
                        </ng-template>
                    </ng-template>
                    <!-- End of "Executable, External Link or Internal Path" -->

                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</div>
