.sb-links {
    display: grid;
    gap: 1rem;
    grid-template-rows: min-content;
    overflow: auto;
    padding: 1rem;
}

.sb-sublinks:is(.collapsing, .show) {
    display: grid;
    gap: 0.5rem;
    margin-top: 0.5rem;
    padding-left: 0.75rem;
}

.sb-link {
    color: inherit;
    border-radius: var(--border-radius_md);
    display: flex;
    padding: 0.65rem 0.75rem;
    transition:
        background-color 300ms ease,
        border-color 300ms ease;
}

.sb-link.active {
    color: rgba(var(--app-gray_0), 1);
}

.sb-link:not(.active):hover {
    background-color: rgba(var(--app-primary_500), 0.2);
}