<footer class="footer py-5">
  <div class="container px-5">

    <div class="d-flex justify-content-between flex-wrap mb-4">
      <div style="
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      ">
        <a
          href="https://www.grupposcai.it/"
          target="_blank"
        >
          Gruppo SCAI <i class="bi bi-arrow-up-right"></i>
        </a>
      </div>
      <div class="text-muted">
        SCAI S.P.A. &copy; {{test | date: 'yyyy'}} Tutti i diritti riservati
      </div>
    </div>

    <div class="fg">

      <div class="fg__follow__title">Seguici</div>
      <div class="fg__most-used__title">Pagine più usate</div>
      <div class="fg__resources__title">Risorse</div>
      <div class="fg__need-help__title">Hai bisogno di aiuto?</div>

      <div class="fg__follow__content">

        <div
          class="d-flex flex-wrap mb-3"
          style="font-size: 2rem; gap: 1rem; line-height: 1;"
        >

          <a href="https://it.linkedin.com/company/scai" target="_blank">
            <i class="fa fa-linkedin-square"></i>
          </a>

          <a href="https://www.youtube.com/@GRUPPOSCAI001" target="_blank">
            <i class="fa fa-youtube-square"></i>
          </a>
        </div>
        
        <pre class="mb-2">Corso Tazzoli 223
10137 Torino</pre>

        <pre>Iscrizione al Registro delle Imprese
della Camera di Commercio di Torino
CF/P.IVA NR. 02710060019
CAP.SOC. €1.040.000 I.V.</pre>
      </div>

      <div class="fg__most-used__content">
        <div
          class="font-weight-bolder text-uppercase"
          style="display: grid; gap: 0.5rem;"
        >

          <a href="javascript:0;" [routerLink]="[ '/attivita' ]">
            Attività
          </a>

          <a href="javascript:0;" [routerLink]="[ '/stato-avanzamento' ]">
            Stato avanzamento
          </a>
        </div>
      </div>

      <div class="fg__resources__content">
        <div
          class="font-weight-bolder text-uppercase"
          style="
            color: #0d47a1;
            display: grid;
            gap: 0.5rem;
            grid-template-columns: max-content min-content;
          "
        >

          <a
            href="https://docs.google.com/document/d/1nX6quvbWsdYn7KnZvALp7fEW2DMbxzTe3zMBdv3PHw0/edit?usp=sharing"
            target="_blank"
          >
            Guida
          </a>
          <i class="bi bi-arrow-up-right"></i>

          <a
            href="https://scaiportal.grupposcai.it/"
            target="_blank"
          >
            SCAI Portal
          </a>
          <i class="bi bi-arrow-up-right"></i>

          <a
            href="https://www.grupposcai.it/conosci-scai/"
            target="_blank"
          >
            Chi Siamo
          </a>
          <i class="bi bi-arrow-up-right"></i>

          <a
            href="https://wwwgrupposcai.it/insight-articoli/tutti-insight/"
            target="_blank"
          >
            Insights
          </a>
          <i class="bi bi-arrow-up-right"></i>

          <a
            href="https://www.grupposcai.it/blog-scai/"
            target="_blank"
          >
            Blog
          </a>
          <i class="bi bi-arrow-up-right"></i>
        </div>
      </div>

      <div class="fg__need-help__content">
        <a
          href="https://grupposcai.atlassian.net/servicedesk/customer/portal/"
          target="_blank"
          class="btn btn-primary"
        >
          Assistenza
        </a>
      </div>
    </div>
  </div>
</footer>
