<div class="col-md-8 p-3 mt-3 mb-5 mx-auto">

    <h5 class="mb-3">Dettaglio sottocommessa</h5>

    <div class="ag-parent-resume app-callout app-callout--orange">
    
        <div class="flexgrid flexgrid--3">

            <div>
                <div class="small text-muted">Tipo attivita</div>
                <div>{{ sottocommessa?.tipoFatturazione?.text }}</div>
            </div>
    
            <div>
                <div class="small text-muted">Data inizio</div>
                <div>{{ sottocommessa?.dataInizio | date:'yyyy-MM-dd' }}</div>
            </div>

            <div>
                <div class="small text-muted">Data fine</div>
                <div>{{ sottocommessa?.dataFine | date:'yyyy-MM-dd' }}</div>
            </div>
    
            <div>
                <div class="small text-muted">Codice sottocommessa</div>
                <div>{{ sottocommessa?.codiceCommessa }}</div>
            </div>
    
            <div>
                <div class="small text-muted">Descrizione</div>
                <div>{{ sottocommessa?.descrizione }}</div>
            </div>
    
            <div>
                <div class="small text-muted">Project manager</div>
                <div>{{ pm?.cognome + ' ' + pm?.nome }}</div>
            </div>
        </div>
    
        <button
            type="button"
            class="btn btn-warning btn-lg shadow"
        >
            <i class="bi bi-pencil"></i>
        </button>
    </div>
</div>

<div class="card app-callout app-callout--green pt-3 shadow">

    <div class="table-plus">

        <h5 class="table-plus__title">Tabella tasks</h5>

        <button
            type="button"
            class="table-plus__action btn btn-outline-success btn-lg shadow"
            (click)="create()"
        >
            <i class="bi bi-plus"></i>
            Crea task
        </button>
    </div>
    
    <app-table
        #dt
        [thead]="thead"
        [tbody]="tbody"
        [items]="tasks"
        [searchable]="['codiceTask', 'descrizione']"
        [paginated]="true"
        [pageSize]="5"
        emptyMessage="Nessun risultato, effettua una ricerca"
    >
    
        <ng-template #thead>
            <th sortable="codiceTask" (sort)="dt.sort($any($event))">Codice</th>
            <th sortable="descrizione" (sort)="dt.sort($any($event))">Descrizione</th>
            <th sortable="dataInizio" (sort)="dt.sort($any($event))">Data inizio</th>
            <th sortable="dataFine" (sort)="dt.sort($any($event))">Data fine</th>
            <th style="width: 10rem"></th>
        </ng-template>
    
        <ng-template #tbody let-item let-term$="term$">
            <td>{{ item.codiceTask }}</td>
            <td>{{ item.descrizione }}</td>
            <td>{{ item.dataInizio | date:'yyyy-MM-dd' }}</td>
            <td>{{ item.dataFine | date:'yyyy-MM-dd' }}</td>
            <td>
                <div class="d-flex gap-2 justify-content-center">

                    <button
                        type="button"
                        class="btn btn-primary shadow"
                        (click)="addTab(item.id, item.codiceTask)"
                    >
                        <i class="bi bi-arrow-90deg-down"></i>
                    </button>

                    <button
                        type="button"
                        class="btn btn-warning shadow"
                        (click)="update(item)"
                    >
                        <i class="bi bi-pencil"></i>
                    </button>

                    <button
                        type="button"
                        class="btn btn-danger shadow"
                        (click)="delete(item)"
                    >
                        <i class="bi bi-trash3"></i>
                    </button>
                </div>
            </td>
        </ng-template>
    </app-table>
</div>

<div *ngIf="tasks.length" class="mt-4">
    <ul
        class="app-tabbable nav-tabs"
        ngbNav
        #nav="ngbNav"
        [destroyOnHide]="false"
        [(activeId)]="activeTabId"
    >
        <li *ngFor="let tab of tabs" [ngbNavItem]="tab.id">
            <a ngbNavLink>
                {{ tab.codiceTask || 'ND' }}
                <span class="btn-close ms-2 fw-light" (click)="closeTab(tab.id, $event)"></span>
            </a>
            <ng-template ngbNavContent>

                <app-risorse
                    [id]="'task-' + tab.id"
                    [idCommessa]="idCommessa"
                    [idSottocommessa]="idSottocommessa"
                    [idTask]="tab.id"
                ></app-risorse>

            </ng-template>
        </li>
    </ul>
    
    <div class="border p-3 pb-4 shadow" style="border-top: none !important; border-radius: 0 0 5px 5px">
        
        <div [ngbNavOutlet]="nav"></div>

        <div class="p-3 pb-2 text-center" *ngIf="this.tabs.length === 0">
            <span class="d-inline-block animate__animated animate__bounceIn animate__delay-100ms">Clicca sul tasto <i class="bi bi-arrow-90deg-down"></i> in riga per scendere nel dettaglio</span>
        </div>
    </div>
</div>
