/* Start of VARIABLES */
:root {
    --border-radius_sm: calc(var(--border-radius_md) * 0.2 / 0.25);
    --border-radius_md: 1.1rem;
    --border-radius_lg: calc(var(--border-radius_md) * 0.3 / 0.25);
}
/* End of VARIABLES */


/* Start of SCROLLBAR */
::-webkit-scrollbar {
    width: var(--border-radius_md);
    height: var(--border-radius_md);
}

::-webkit-scrollbar-track {
    background: rgba(var(--app-gray_200), 1);
}

::-webkit-scrollbar-thumb {
    background: rgba(var(--app-gray_300), 1);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--app-gray_400), 1);
}
/* End of SCROLLBAR */