@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --app-body-background: var(--app-gray_100);
  --app-sidebar-gradient: linear-gradient(135deg, rgba(var(--app-blue_400), 1), rgba(var(--app-indigo_400), 1));
  --flexgrid-col-min-width: 20ch;
  --flexgrid-gap: 1rem;
}

/* scrollbar start */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(var(--app-gray_200), 1);
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--app-primary_500), 1);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--app-primary_600), 1);
}
/* scrollbar end */

/* generic start */
body {
  background: rgba(var(--app-body-background), 1);
  font-family: "Roboto", var(--bs-font-sans-serif);
}

.app-navbar {
  min-height: 64px;
  border-bottom: 1px solid rgba(var(--app-gray_100), 1);
}

.app-brand {
  align-items: center;
  color: inherit !important;
  display: flex;
  font-size: 1.33rem;
  gap: 0.75rem;
  margin-right: var(--bs-navbar-brand-margin-end);
  text-decoration: none;
  white-space: nowrap;
}

.app-brand > .pic {
  width: 40px;
  height: 40px;
}

ngb-typeahead-window {
  width: clamp(25ch, 100%, 40ch);
  max-height: 300px;
  overflow: auto;
}
/* generic end */

/* util start */
.lh-0 {
  line-height: 0 !important;
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.not-clickable {
  cursor: not-allowed;
  pointer-events: none;
}

.pseudo-disabled {
  background-color: rgba(var(--app-gray_50), 1);
  cursor: not-allowed;
  pointer-events: none;
}
/* util end */

/* table stuff start */
app-table .ngb-highlight {
  background-color: #ff0;
}

app-table th {
  white-space: nowrap;
}

@media (min-width: 600px) {

  app-table .table > thead > tr > th:first-child,
  app-table .table > tbody > tr > td:not(.row-expand):first-child {
    padding-left: 1.5rem !important;
  }

  app-table .table > thead > tr > th:last-child,
  app-table .table > tbody > tr > td:not(.row-expand):last-child {
    padding-right: 1.5rem !important;
  }
}

th[sortable] {
  cursor: pointer;
  user-select: none;
}

th[sortable]::before {
  content: '\F3CA';
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 4px;
  vertical-align: -0.125em;
}

th[sortable].desc::before,
th[sortable].asc::before {
  content: '\F57B';
}

th[sortable].desc::before {
  content: '\F575';
}

.pagination {
  margin-bottom: 0 !important;
}
/* table stuff end */

/* cdk-drag start */
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

*.cdk-drop-list-dragging *:not(.cdk-drag-placeholder) {
  transform: translateZ(0);
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  z-index: 9000 !important;
}
/* cdk-drag end */

/* app-round-btn start */
.app-round-btn {
  box-shadow: 0 4px 8px 0 #0005;
  border-radius: 50%;
  color: #777;
  display: grid;
  line-height: 0;
  height: 42px;
  place-items: center;
  width: 42px;
  transition: box-shadow 300ms ease;
}

.app-round-btn:hover {
  box-shadow: 0 10px 16px 0 #0004;
}
/* app-round-btn end */

/* flexgrid start */
.flexgrid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(-1 * var(--flexgrid-gap) / 2);
}

.flexgrid > * {
  flex: 1 1 clamp(var(--flexgrid-col-min-width), 100%, 100%);
  padding: calc(var(--flexgrid-gap) / 2);
}

.flexgrid--2 > * {
  flex: 1 1 clamp(var(--flexgrid-col-min-width), 50%, 50%);
  padding: calc(var(--flexgrid-gap) / 2);
}

.flexgrid--3 > * {
  flex: 1 1 clamp(var(--flexgrid-col-min-width), 33.33%, 33.33%);
  padding: calc(var(--flexgrid-gap) / 2);
}

.flexgrid--4 > * {
  flex: 1 1 clamp(var(--flexgrid-col-min-width), 25%, 25%);
  padding: calc(var(--flexgrid-gap) / 2);
}

.flexgrid--5 > * {
  flex: 1 1 clamp(var(--flexgrid-col-min-width), 20%, 20%);
  padding: calc(var(--flexgrid-gap) / 2);
}
/* flexgrid end */

/* wiz start */
.wiz {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  isolation: isolate;
  padding: 0.5rem 0;
}

.wiz__step {
  background: rgba(var(--app-primary_500), 0.6);
  color: rgba(var(--app-gray_0), 1) !important;
  cursor: pointer;
  flex: 1 1 250px;
  padding: 1rem 2rem;
  clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 50%, calc(100% - 1rem) 100%, 0 100%);
  transition: all 400ms ease;
}

.wiz__step:not(:first-child) {
  clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 50%, calc(100% - 1rem) 100%, 0 100%, 1rem 50%);
}

.wiz__step:last-child {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 1rem 50%);
}

.wiz__step:not(.disabled):hover {
  transform: scale(1.05);
}

.wiz__step:has(~ .active) {
  background: rgba(var(--app-primary_500), 0.9);
}

.wiz__step:has(~ .active) .wiz__title::before {
  content: "\2713";
  margin-right: 0.25rem;
}

.wiz__step.active {
  background: rgba(var(--app-primary_600), 1);
}

.wiz__step.disabled {
  background: rgba(var(--app-gray_500), 0.5);
}

.wiz__title {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.25rem;
}

@media (max-width: 768px) {

  .wiz {
    display: grid;
  }

  .wiz__step {
    padding: 1rem;
    clip-path: unset !important;
    margin-left: unset !important;
    text-align: center;
  }

  .wiz__descr {
    display: none;
  }
}
/* wiz end */