.table-plus {
    display: grid;
    gap: 0.5rem;
    padding: 0 1rem;
    align-items: center;
    justify-items: center;
}

.table-plus__title {
    margin-bottom: 0;
}

@media (min-width: 800px) {

    .table-plus {
        grid-template-columns: repeat(3, 1fr);
    }

    .table-plus__title {
        justify-self: start;
    }
}