<div class="text-center mb-5">
    <h1 class="display-6">Gestione Sottocommesse</h1>
    <p class="lead">Da questo componente puoi creare/modificare le sottocommessa.</p>
</div>

<div class="card app-callout app-callout--orange pt-3 shadow">

    <div class="table-plus">

        <h5 class="table-plus__title">Tabella sottocommesse</h5>

        <button
            type="button"
            class="table-plus__action btn btn-success shadow"
            (click)="create()"
        >
            <i class="bi bi-plus"></i>
            Crea sottocommessa
        </button>
    </div>

    <ng-template #emptyTmpl>
        <div style="
            display: grid;
            gap: 0.75rem;
            justify-content: center;
            margin: 0 auto;
            max-width: 300px;
            padding: 3rem 1rem;
            text-align: center;
        ">

            <img class="img-fluid" src="assets/images/no-results.svg" alt="nessun risultato trovato">

            <div class="lead">Nessuna sottocommessa trovata.</div>

            <button
                class="btn btn-outline-success"
                (click)="create()"
            >
                Crea sottocommessa
            </button>
        </div>
    </ng-template>
    
    <app-table
        #dt
        [thead]="thead"
        [tbody]="tbody"
        [items]="sottocommesse"
        [searchable]="['codice', 'descrizione', 'tipoFatturazione.text']"
        [paginated]="true"
        [pageSize]="5"
        [emptyTemplate]="emptyTmpl"
    >
    
        <ng-template #thead>
            <th sortable="codiceCommessa" (sort)="dt.sort($any($event))">Codice</th>
            <th sortable="descrizione" (sort)="dt.sort($any($event))">Descrizione</th>
            <th sortable="tipoFatturazione.id" (sort)="dt.sort($any($event))">Tipo fatturazione</th>
            <th style="width: 10rem"></th>
        </ng-template>
    
        <ng-template #tbody let-item let-term$="term$">
            <td>{{ item.codiceCommessa }}</td>
            <td>{{ item.descrizione }}</td>
            <td>{{ item.tipoFatturazione.text }}</td>
            <td>
                <div class="d-flex gap-2 justify-content-center">

                    <button
                        type="button"
                        class="btn btn-outline-primary shadow"
                        [disabled]="item._duplicating"
                        (click)="duplicate(item)"
                    >
                        <ng-container *ngIf="item._duplicating; else notDuplicating">
                            <span class="spinner-border spinner-border-sm"></span>
                        </ng-container>
                        <ng-template #notDuplicating>
                            <i class="bi bi-clipboard"></i>
                        </ng-template>
                    </button>

                    <button
                        type="button"
                        class="btn btn-primary shadow"
                        (click)="addTab(item.id, item.codiceCommessa)"
                    >
                        <i class="bi bi-arrow-90deg-down"></i>
                    </button>

                    <button
                        type="button"
                        class="btn btn-warning shadow"
                        (click)="update(item)"
                    >
                        <i class="bi bi-pencil"></i>
                    </button>

                    <button
                        type="button"
                        class="btn btn-danger shadow"
                        (click)="delete(item)"
                    >
                        <i class="bi bi-trash3"></i>
                    </button>
                </div>
            </td>
        </ng-template>
    </app-table>
</div>

<div *ngIf="sottocommesse.length" class="mt-5">
    <ul
        class="app-tabbable nav-tabs"
        ngbNav
        #nav="ngbNav"
        [destroyOnHide]="false"
        [(activeId)]="activeTabId"
    >
        <li *ngFor="let tab of tabs" [ngbNavItem]="tab.id">
            <a ngbNavLink>
                {{ tab.codiceCommessa }}
                <span class="btn-close p-2 ms-3 fw-light" (click)="closeTab(tab.id, $event)"></span>
            </a>
            <ng-template ngbNavContent>
                <app-sottocommessa-navigation
                    [id]="'sottocommessa-' + tab.id"
                    [idCommessa]="idCommessa"
                    [idSottocommessa]="tab.id"
                    (sottocommessaUpdate)="refresh$.next()"
                ></app-sottocommessa-navigation>
            </ng-template>
        </li>
    </ul>
    
    <div class="border p-3 pb-4 shadow" style="border-top: none !important; border-radius: 0 0 5px 5px">
        
        <div [ngbNavOutlet]="nav"></div>

        <div class="p-3 pb-2 text-center" *ngIf="this.tabs.length === 0">
            <span class="d-inline-block animate__animated animate__bounceIn animate__delay-100ms">Clicca sul tasto <i class="bi bi-arrow-90deg-down"></i> in riga per scendere nel dettaglio</span>
        </div>
    </div>
</div>
